<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <strong> <%= @user.name %></strong> <br />
      </h1>
	  <strong>Email</strong>  <%= @user.email %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <li><%= link_to "URL", @user %></li>
    </td>
  </tr>
</table>