<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <strong> <%= @user.name %></strong> <br />
      </h1>
	  <%= render 'follow_form' if signed_in? %>
	  <strong>Email</strong>  <%= @user.email %>
      <% unless @user.microposts.empty? %>
	  	<table class="microposts" summary="User microposts">
	  		<%= render @microposts %>
	   	</table>
		<% if false %>
	   	<%= will_paginate @microposts %>
		<% end %>
	  <% end %>
	  </td>
	  <td class="sidebar round">
	  	<strong>Name</strong> <%= @user.name %><br />
	    <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
	    <strong>Microposts</strong> <%= @user.microposts.count %>
		<%= render 'shared/stats' %>
	  </td>
	</tr>
</table>
